future
emoji
lxml
beautifulsoup4
telegraph
requests
sqlalchemy
python-telegram-bot
psycopg2-binary
feedparser
pynewtonmath
tswift
spongemock
numpy
urbandict
pyowm
zalgo-text
geopy
#memes vvv
#translator
pytz
parsel
hurry.filesize
nltk
psutil
kbbi
feedparser
gtts
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans
jikanpy
speedtest-cli
coffeehouse
regex
bleach
git+https://github.com/starry69/python-markdown2.git
wikipedia
telethon
spamwatch
alphabet_detector
